header#header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;

    div ul#menu-main-menu li a{
        font-family: Martin;
        font-size: 3rem;
        text-decoration: none;
        color: black;
    }

    div h1 {
        font-size: 5rem;
    }
}




